doctype html
html
  head
    title ES Workshop Challenge 2: Single-User Filtering
    include head.html
    <script src="js/challenge-2.js"></script>
    <script src="js/app.js"></script>
    
  body.box
    include navbar.html
    include challenge-2-content.html
