doctype html
html
  head
    title ES Workshop Challenge 3: Top Influencers
    include head.html
    <script src="js/challenge-3.js"></script>
    <script src="js/app.js"></script>
    
  body.box
    include navbar.html
    include challenge-3-content.html
