doctype html
html
  head
    title ES Workshop: Home
    include head.html
    <script src="js/basicQuery.js"></script>
    <script src="js/app.js"></script>
    
  body.box
    include navbar.html
    include index-content.html
